<div class="home-banner">
    <div class="home-banner-img">
        <h1>
            Hellow
        </h1>
    </div>
    <div class="home-banner-content"></div>
</div>

<div class="how-to-use">
    <div class="how-to-use-content">
        <div class="how-to-use_item">
            <img class="how-touse-icon" src="{{ "cleanseer_icon.svg" | asset_url }}" alt="cleanseer icon"/>
            <p>Cleanse and thoroughly dry your face.</p>
        </div>
        <div class="how-to-use_item">
            <img class="how-touse-icon" src="{{ "serum_icon.svg" | asset_url }}" alt="serum icon"/>
            <p>Press the top down to fill the dropper (it’ll only fill ⅓).</p>
        </div>
        <div class="how-to-use_item">
            <img class="how-touse-icon" src="{{ "dropper_icon.svg" | asset_url }}" alt="dropper icon"/>
            <p>Unscrew the top and press down again to release the serum into your palm.</p>
        </div>
        <div class="how-to-use_item">
            <img class="how-touse-icon" src="{{ "face_icon.svg" | asset_url }}" alt="face icon"/>
            {% include 'face_icon.svg' %}
            <p>Gently massage the serum onto your face and neck.</p>
        </div>
    </div>
    <div class="how-to-use-center">
        <p>The Good is lightweight and designed to absorb quickly, so you’ll never feel greasy.</p>
    </div>

    <div class="how-to-use-video">

        <video poster="{{ "howtousevideo.png" | asset_url }}">
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">

        </video>
    </div>

</div>

<div class="testimonials-wrapper">
    <div class="testimonials-video-section">
        <div class="testimonials-video">
            <video poster="{{ "video.png" | asset_url }}">
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
            </video>
        </div>
        <div class="testimonials-video-content">
            <h1 class="title">
                I Battled Psoriasis For Most Of My Life…</h1>
            <p>[The Good has] completely replaced my steroid cream. My skin looks and feels way better.”</p>
            <span>ADAM SCHAFER, HOST OF MIND PUMP PODCAST</span>
        </div>
    </div>

    <div class="testimonials-slider">
        <div class="testimonials-slider-item">
            <img src="{{ "headshot.png" | asset_url }}" alt=""/>
            <p>“Great feel to this product, no oily greasy feel to your skin after applying it.”</p>
            <span>
                Jon, 42 | Los Angeles, CA</span>
        </div>
        <div class="testimonials-slider-item">
            <img src="{{ "headshot.png" | asset_url }}" alt=""/>
            <p>“Great feel to this product, no oily greasy feel to your skin after applying it.”</p>
            <span>
                Jon, 42 | Los Angeles, CA</span>
        </div>
        <div class="testimonials-slider-item">
            <img src="{{ "headshot.png" | asset_url }}" alt=""/>
            <p>“Great feel to this product, no oily greasy feel to your skin after applying it.”</p>
            <span>
                Jon, 42 | Los Angeles, CA</span>
        </div>
    </div>
</div>
<div class="result-section">
    <div class="result-content">
        <h1>
            How Can One Serum Deliver Results For All Skin Types?</h1>
        <div class="result-qa-item">
            <h4>
                1. FORMULATED FOR THE MICROBIOME.</h4>
            <p>By acting on your skin’s microbiome, The Good's prebiotic and antioxidant functions help your skin find its unique equilibrium.</p>
            <p></p>
        </div>
        <div class="result-qa-item">
            <h4>
                2. OIL-BALANCING.
            </h4>
            <p>This non-comedogenic (won’t clog pores) serum includes wild bergamot and frankincense, which adapt to your skin, moisturizing or balancing only where you need it.</p>
            <p></p>
        </div>
        <div class="result-qa-item">
            <h4>
                3. SKIN-MIMICKING.
            </h4>
            <p>27 botanicals work synergistically to mirror skin’s natural processes and sebum structure, so your skin readily absorbs the nutrients from our wild antioxidant complex.</p>
            <p></p>
        </div>
    </div>
    <div class="result-img">
        <img src="{{ "result-img.png" | asset_url }}" alt="">
    </div>
</div>
<div classs="use-the-good">
    <div class="use-the-good-icons">
        <div class="use-the-good-item">
            <img src="{{ "cleanseer_icon.svg" | asset_url }}" alt="">
            <p>Condition your beard</p>
        </div>
        <div class="use-the-good-item">
            <img src="{{ "cleanseer_icon.svg" | asset_url }}" alt="">
            <p>Soothe a bald head or dry scalp</p>
        </div>
        <div class="use-the-good-item">
            <img src="{{ "cleanseer_icon.svg" | asset_url }}" alt="">
            <p>Calm skin after shaving</p>
        </div>
        <div class="use-the-good-item">
            <img src="{{ "cleanseer_icon.svg" | asset_url }}" alt="">
            <p>Relieve a sunburn</p>
        </div>
    </div>
    <div class="use-the-good-text">
        <h1>When To Use The Good</h1>
        <p>The Good works best at night, when your body’s circadian rhythm makes your skin more receptive to macro, micro, and meso nutrients. But many customers also love using it in the morning, under SPF. The Good should always absorb quickly, so depending on your climate, you might need to adjust the number of drops you’re using.</p>
    </div>
</div>
<div class="how-much-good">
    <div class="how-much-good-content">
        <h1>How much of The Good do you need?</h1>
        <p>Your climate will affect whether you need more or less for your skin type. Please use the recommendations below as a suggested starting point, or take an extra 60 seconds and get your personalized recommendations
            <a href="#">here.</a>
        </p>
    </div>
    <div class="how-much-good-items">
        <div class="">
            <h1>Dry Skin</h1>
            <p>10-12 DROPS</p>
            <img alt="" src="">
        </div>
        <div class="">
            <h1>Dry Skin</h1>
            <p>10-12 DROPS</p>
            <img alt="" src="">
        </div>
        <div class="">
            <h1>Dry Skin</h1>
            <p>10-12 DROPS</p>
            <img alt="" src="">
        </div>
    </div>
</div>
<div class="quiz-program">
    <img alt="" src="">
    <h1>Get Your Personalized Application Steps.</h1>
    <p>In just 60 seconds.</p>
    <button>Start Now</button>
</div>

<div class="faqs-wapper">
    <h1>FAQs</h1>
    <div>
        <button class="accordion">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
    </div>
</div>
<div class="good-story">
    <h2>
        GOOD STORY. GREAT SKIN.
    </h2>
    <div>
        <img alt="" src="">
        <img alt="" src="">
        <img alt="" src="">
        <img alt="" src="">
        <img alt="" src="">
    </div>
</div>
